<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="perfect.book.keeping">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".global.MainApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.company.UpdateCompany"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.PaymentMethod"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.AddCompany"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.gallery.PendingGallery"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.gallery.ReceiptGallery"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.gallery.RejectGallery"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pnl.ProfitLoss"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CropImage"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.OpenCamera"
            android:exported="false"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".activity.BookKeepers"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profile.Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.receipt.PaymentReceipt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.receipt.PaymentReceiptView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.subUser.SubUserModify"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.subUser.SubUsersStore"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.subUser.SubUsersList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.TinderSliderActivity"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.TakeSnapDate"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.BusinessDashboards"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Companies"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Account"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.company.ViewReceiptZoomImage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".global.NetworkStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.YOUR_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".global.AppFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".global.DataTransferService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".global.GalleryDataTransferService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".global.UploadReceipt"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".global.UploadReceiver"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>